.paragraph {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title {
    font-size: 16px;
    -unity-font-style: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

.content {
    flex-direction: row;
    flex-wrap: wrap;
    text-overflow: clip;
    white-space: normal;
    word-spacing: 1px;
    -unity-paragraph-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.link {
    background-color: transparent;
    color: rgb(129, 180, 255);
    border-width: 0;
    margin: 0;
    margin-top: 6px;
    cursor: link;
}
